@use "../../styles/global.scss" as *;
#about-activity {
  padding-bottom: 104px;
  @media (max-width: 768px) {
    padding-bottom: 64px;
  }
  .about-activity {
    h1 {
      font-size: 32px;
      font-weight: 500;
      padding-bottom: 40px;
    }
    .activity-content {
      .swiper {
        padding-bottom: 40px;
      }

      .swiper-pagination {
        bottom: 0 !important;
      }

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #d9d9d9;
        opacity: 1;
        transition: all 0.3s ease;
      }

      .swiper-pagination-bullet-active {
        background-color: $primary_color;
        width: 12px;
        height: 12px;
      }

      .activity-item {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 16px;
        padding: 24px 31px;
        text-align: center;
        margin-top: 20px;
        transition: transform 1s ease;
        &:hover {
          //   transform: translateY(-5px);
          border: 1px solid $primary_color;
          .desc {
            max-height: 100px;
            padding-top: 20px;
          }
        }

        .title {
          font-size: 18px;
          width: 90%;
          font-weight: 500;
          margin: 0;
        }

        .desc {
          padding-top: 20px;
          overflow: hidden;
          margin: 0;
          max-height: 0;
          transition: max-height 1s ease;
        }
      }
    }
  }
}
