@use "../../styles/global.scss" as*;
nav{
    .header-top{
        padding-inline: 80px;
        padding-block: 10px;
        border-bottom:2px solid #00BAF7;
    }
    .header-bottom{
        padding: 10px 5%;
        .logo-side{
            width: 120px;
            height: auto;
            img{
                object-fit: contain;
            }
        }
        .navbar {
            // border: 2px solid red; 
            ul{
            }
        }
    }
    .navbar ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1.5px;
    background-color: #0d6efd; // istədiyin rəng
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100vh;
  background-color: #fcfcfc; // ✅ istədiyin rəng
  z-index: 999;
  padding: 20px;
  transition: 0.3s ease;

  &.open {
    left: 0;
  }

  .menu-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 12px 0;
      border-bottom: 1px solid #00baf7; // ✅ border
      font-size: 16px;

      a {
        text-decoration: none;
        color: #000;
        display: block;
        width: 100%;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

}