@use "../../styles/global.scss" as*;
#about-hero{
    padding-bottom: 104px;
    @media (max-width:768px){
        padding-bottom: 64px;
    }
    .about-hero{
        .left-side{
            padding-block: 16px;
            gap: 20px;
            padding-right: 10%;
            @media (max-width:1024px){
                padding-right: 0 ;
            }
            @media (max-width:768px){
               gap: 10px;
            }
                .section-head-title{
                max-width: 324px;
                p{
                    border-radius: 14px;
                    background-color: #F2F7FF;
                    padding: 8px;
                    margin: 0 auto;
                    text-align: center;
                    color: $primary_color;
                }
            }
            .h1-text{
                font-size:32px !important;
                font-weight:500;
                @media (max-width:768px){
                    font-size: 32px !important;
                }
            }
            .contact-side{
                gap: 40px;
                padding-top: 40px;
                .mail{
                    gap: 16px;
                    .box{
                         box-shadow: 0px 4px 10px 2px #0000001A;
                        padding: 17px 18px;
                        border-radius: 4px;
                    }
                    p{
                        color: #8D9393;
                        font-weight: 500;
                    }
                }
                @media (max-width:1024px){
                    flex-direction: column;
                }
                img{
                    width: 20px;
                }
            }
        }
        .right-side{
            object-fit: cover;
            img{
                object-fit: contain;
                object-position:  center ;
                border-radius: 16px;
                max-height: 490pX;
            }
            @media (max-width:1200px){
                padding-top: 40px;
            }
           
        }
    }
    .edu{
        margin-top: 104px;
        @media (max-width:992px){
            margin-top: 64px;
        }
        h1{
            font-size: 32px;
            padding-bottom: 40px;
            @media (max-width:992px){
                padding-bottom: 20px;
            }
        }
        .edu-content{
            
            .edu-item{
                .item-content{
                    background-color: #F2F7FF;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;    
                    padding: 24px 40px;
                    border-radius: 16px;
                    @media (max-width:992px){
                        padding: 20px 20px;
                    }
                    h4{
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .file{
                        border: 1px solid $primary_color;
                        padding: 10px;
                        border-radius: 50%;
                        img{
                        width: 36px;
                        height: 36px;
                    }
                    }
                }
            }
        }
    }
}