.breadcrumb-btn {
  width: 90%;
  margin: 56px auto ;
  padding: 14px ;    
  background-color: #F2F7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  a {
    color: #121111;
    &:hover {
      opacity: 0.7;
    }
  }
  span{
    padding-left: 5px;
  }
  @media (max-width:768px){
    margin: 30px auto ;
    justify-content: start;
  
  }
}
