*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body{
    img{
        height: 100%;
        width:100%;
    };
    section{
        padding-inline: 80px;
        background-color: #FCFCFC;
        @media (max-width:768px){
            padding-inline: 5%;
        }
    }
    a{
        color: inherit;
        text-decoration: none;
    }
}