
.medical-info{
    margin-bottom: 204px;
    @media (max-width: 768px) {
        margin-bottom: 100px;
    }
    .title{
        font-size: 24px;
    }
    .info-content{
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .info-item{
            display: flex;
            gap: 6px;
            align-items: center;
            p{
                margin: 0;
            }
        }
    }
}