@use "../../styles//global.scss" as *;

#chancer-types{
  margin-bottom: 208px;
  @media (max-width: 768px){
    margin-bottom: 100px;
  }
    .chancer-types{
        .chancer-container{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: flex-start;
            
             .swiper {
        padding-bottom: 40px;
      }

      .swiper-pagination {
        bottom: 0 !important;
      }

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #d9d9d9;
        opacity: 1;
        transition: all 0.3s ease;
      }

      .swiper-pagination-bullet-active {
        background-color: $primary_color;
       
      }
      .slide{
        display: flex;
        justify-content: center;
      }
            .chancer-card{
                border: 1px solid #0089F0 ;
                padding: 24px 10px;
                border-radius: 16px;
                margin-top: 20px;
                width: 240px;
                text-align: center;
                p{
                    margin: 0;
                    font-weight: 500;
                }

            }
        }
    }
}