#cancer-detail {
  // padding: 40px 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-top: 56px;

  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: left; // yazıları yuxarı və sola hizala
  }

  .section {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #333; // text rəngini default tünd saxladıq

    h3 {
      margin-bottom: 15px;
      font-size: 1.5rem;
    }

    ul {
      list-style: disc;
      padding-left: 20px;

      li {
        margin-bottom: 10px;
        font-size: 1rem;
      }
    }
  }

  .danger {
    background: #e1404026; 
    border-left: 6px solid #e14040;
  }

  .success {
    background: #09986c26; 
    border-left: 6px solid #09986d;
  }

  .info {
    background: rgba(147, 51, 234, 0.15); // yumşaq bənövşəyi
  }

  @media (max-width: 576px) {
    padding: 20px 10px;

    h1 {
      font-size: 1.5rem;
      text-align: left;
    }

    .section {
      padding: 15px;

      h3 {
        font-size: 1.2rem;
      }

      ul li {
        font-size: 0.9rem;
      }
    }
  }
}
