
@use "../../styles//global.scss" as*;
#oncology{
    padding-top: 104px;
    .oncology{
        h1{
            font-size: 32px;
            font-weight: 500;
            padding-bottom: 40px;
        }
        .detail-card{
            background-color:#F2F7FF;
            border-radius: 20px;
            padding:20px 40px;
            margin-bottom: 40px;
            align-items: center;
            gap: 30px;
            &:hover{
                transition: all 300ms;
                box-shadow: 1px 1px 7px #dcdee3;
                .arrow{
                    // background-color: $primary_color;
                    
                }
            }
            h4{
                font-size: 20px;
                color: #121111;
            }
            .arrow{
                padding: 10px;
                width: 60px;
                height: 60px;
                border: 1px solid #0089F0;
                border-radius: 50%;
                img{
                    width: 36px;
                }
            }
            @media (max-width:576px){
                padding: 10px 20px;
            }
        }
    }
}