#contact{
    .contact{
        margin-bottom: 208px;
        h1{
            font-size: 32px;
        
        }
        @media (max-width:768px){
            margin-bottom: 102px;
            h1{
                font-size: 24px;
            }
            .map{
                margin-top: 40px;
            }
        }
        .contact-side{
                gap: 40px;
                padding-top: 40px;
                .mail{
                    gap: 16px;
                    .box{
                         box-shadow: 0px 4px 10px 2px #0000001A;
                        padding: 16px 18px;
                        // width: 54px;
                        // height: 54px;
                        border-radius: 4px;
                    }
                    p{
                        color: #8D9393;
                        font-weight: 500;
                        margin: 0;
                    }
                }
                @media (max-width:1024px){
                    flex-direction: column;
                }
                img{
                    width: 20px;
                }
            }
            .map{
                background-color: #C4C4C4;
                border-radius: 20px;
                padding: 40px;
                min-height: 200px;
            }
    }
}